<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block title %}{% endblock %} - eExamSystem</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{{url_for('static', filename='home/feather/feather.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='home/ti-icons/css/themify-icons.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='home/css/vendor.bundle.base.css')}}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="{{url_for('static', filename='home/datatables.net-bs4/dataTables.bootstrap4.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='home/ti-icons/css/themify-icons.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='home/css/select.dataTables.min.css')}}">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{{url_for('static', filename='home/vertical-layout-light/style.css')}}">
  <!-- endinject -->
  <!-- custom:css -->
  <link rel="stylesheet" href="{{url_for('static', filename='home/css/custom.css')}}">
  <!-- custom -->
  <link rel="shortcut icon" href="{{url_for('static', filename='home/images/eexam.png')}}" type="image/x-icon">
  {% block head %} {% endblock %}

</head>
<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo" href="index.html"><img src="{{url_for('static', filename='home/images/eexam.png')}}" class="mr-2" alt="logo"/>eExam System</a>
        <a class="navbar-brand brand-logo-mini" href="index.html"><img src="{{url_for('static', filename='home/images/eexam.png')}}" alt="logo"/></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="icon-menu"></span>
        </button>
        <ul class="navbar-nav mr-lg-2">
          <li class="nav-item nav-search d-none d-lg-block">
            <div class="input-group">
              <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
                <span class="input-group-text" id="search">
                  <i class="icon-search"></i>
                </span>
              </div>
              <input type="text" class="form-control" id="navbar-search-input" placeholder="Search now" aria-label="search" aria-describedby="search">
            </div>
          </li>
        </ul>
        <ul class="navbar-nav navbar-nav-right">
          <li class="dropdown nav-item">
            <div class="flex-md-grow-1 flex-xl-grow-0">
              <div class="bg-white btn-light btn-sm" id="MenuDate">
                   Today <span id="MenuDateSpan">{{MDt}}</span>
              </div>
           </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
              <i class="icon-bell mx-0"></i>
              <span class="count"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
              <p class="mb-0 font-weight-normal float-left dropdown-header">Notifications</p>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-success">
                    <i class="ti-info-alt mx-0"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <h6 class="preview-subject font-weight-normal">Application Error</h6>
                  <p class="font-weight-light small-text mb-0 text-muted">
                    Just now
                  </p>
                </div>
              </a>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-warning">
                    <i class="ti-settings mx-0"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <h6 class="preview-subject font-weight-normal">Settings</h6>
                  <p class="font-weight-light small-text mb-0 text-muted">
                    Private message
                  </p>
                </div>
              </a>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-info">
                    <i class="ti-user mx-0"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <h6 class="preview-subject font-weight-normal">New user registration</h6>
                  <p class="font-weight-light small-text mb-0 text-muted">
                    2 days ago
                  </p>
                </div>
              </a>
            </div>
          </li>
          <li class="nav-item nav-profile dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
              {% if session['image'] %}
                   <img src='{{url_for("static", filename = session["image"]) }}' alt="profile"/>
              {% else %}
                   <img src='{{url_for("static", filename = "home/images/profile.png") }}' alt="profile"/>
              {% endif %}
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
              <a class="dropdown-item" href="/logout">
                <i class="ti-power-off text-primary"></i>
                Logout
              </a>
            </div>
          </li>
          <li class="nav-item nav-settings d-none d-lg-flex">
            <a class="nav-link" href="#">
              <i class="icon-ellipsis"></i>
            </a>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="icon-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
      <div id="right-sidebar" class="settings-panel">
        <i class="settings-close ti-close"></i>
        <ul class="nav nav-tabs border-top" id="setting-panel" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="todo-tab" data-toggle="tab" href="#todo-section" role="tab" aria-controls="todo-section" aria-expanded="true">TO DO LIST</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="chats-tab" data-toggle="tab" href="#chats-section" role="tab" aria-controls="chats-section">CHATS</a>
          </li>
        </ul>
        <div class="tab-content" id="setting-content">
          <div class="tab-pane fade show active scroll-wrapper" id="todo-section" role="tabpanel" aria-labelledby="todo-section">
            <div class="add-items d-flex px-3 mb-0">
              <!-- <form class="form w-100">
                <div class="form-group d-flex">
                  <input type="text" class="form-control todo-list-input" placeholder="Add To-do">
                  <button type="submit" class="add btn btn-primary todo-list-add-btn" id="add-task">Add</button>
                </div>
              </form> -->
            </div>
            <div class="list-wrapper px-3">
              <ul class="d-flex flex-column-reverse todo-list">
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox">
                      Team review meeting at 3.00 PM
                    </label>
                  </div>
                  <i class="remove ti-close"></i>
                </li>
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox">
                      Prepare for presentation
                    </label>
                  </div>
                  <i class="remove ti-close"></i>
                </li>
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox">
                      Resolve all the low priority tickets due today
                    </label>
                  </div>
                  <i class="remove ti-close"></i>
                </li>
                <li class="completed">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox" checked>
                      Schedule meeting for next week
                    </label>
                  </div>
                  <i class="remove ti-close"></i>
                </li>
                <li class="completed">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox" checked>
                      Project review
                    </label>
                  </div>
                  <i class="remove ti-close"></i>
                </li>
              </ul>
            </div>
            <h4 class="px-3 text-muted mt-5 font-weight-light mb-0">Events</h4>
            <div class="events pt-4 px-3">
              <div class="wrapper d-flex mb-2">
                <i class="ti-control-record text-primary mr-2"></i>
                <span>Feb 11 2018</span>
              </div>
              <p class="mb-0 font-weight-thin text-gray">Creating component page build a js</p>
              <p class="text-gray mb-0">The total number of sessions</p>
            </div>
            <div class="events pt-4 px-3">
              <div class="wrapper d-flex mb-2">
                <i class="ti-control-record text-primary mr-2"></i>
                <span>Feb 7 2018</span>
              </div>
              <p class="mb-0 font-weight-thin text-gray">Meeting with Alisa</p>
              <p class="text-gray mb-0 ">Call Sarah Graves</p>
            </div>
          </div>
          <!-- To do section tab ends -->
          <div class="tab-pane fade" id="chats-section" role="tabpanel" aria-labelledby="chats-section">
            <div class="d-flex align-items-center justify-content-between border-bottom">
              <p class="settings-heading border-top-0 mb-3 pl-3 pt-0 border-bottom-0 pb-0">Friends</p>
              <small class="settings-heading border-top-0 mb-3 pt-0 border-bottom-0 pb-0 pr-3 font-weight-normal">See All</small>
            </div>
            <ul class="chat-list">
              <li class="list active">
                <div class="profile"><img src="{{url_for('static', filename='home/images/face1.jpg')}}" alt="image"><span class="online"></span></div>
                <div class="info">
                  <p>Thomas Douglas</p>
                  <p>Available</p>
                </div>
                <small class="text-muted my-auto">19 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="{{url_for('static', filename='home/images/face2.jpg')}}" alt="image"><span class="offline"></span></div>
                <div class="info">
                  <div class="wrapper d-flex">
                    <p>Catherine</p>
                  </div>
                  <p>Away</p>
                </div>
                <div class="badge badge-success badge-pill my-auto mx-2">4</div>
                <small class="text-muted my-auto">23 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="{{url_for('static', filename='home/images/face3.jpg')}}" alt="image"><span class="online"></span></div>
                <div class="info">
                  <p>Daniel Russell</p>
                  <p>Available</p>
                </div>
                <small class="text-muted my-auto">14 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="{{url_for('static', filename='home/images/face4.jpg')}}" alt="image"><span class="offline"></span></div>
                <div class="info">
                  <p>James Richardson</p>
                  <p>Away</p>
                </div>
                <small class="text-muted my-auto">2 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="{{url_for('static', filename='home/images/face5.jpg')}}" alt="image"><span class="online"></span></div>
                <div class="info">
                  <p>Madeline Kennedy</p>
                  <p>Available</p>
                </div>
                <small class="text-muted my-auto">5 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="{{url_for('static', filename='home/images/face6.jpg')}}" alt="image"><span class="online"></span></div>
                <div class="info">
                  <p>Sarah Graves</p>
                  <p>Available</p>
                </div>
                <small class="text-muted my-auto">47 min</small>
              </li>
            </ul>
          </div>
          <!-- chat tab ends -->
        </div>
      </div>
      <!-- partial -->

      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
      {% for Fitem in FLeftDt %}
              {% if Fitem.PageUrl == "" %}
              <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#{{Fitem.PageType}}{{Fitem._id}}" aria-expanded="false" aria-controls="{{Fitem.PageType}}{{Fitem._id}}">
                  <i class="{{Fitem.PageIcon}} menu-icon"></i>
                  <span class="menu-title">{{Fitem.PageTitel}}</span>
                  <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="{{Fitem.PageType}}{{Fitem._id}}">
                  <ul class="nav flex-column sub-menu">
                {% for Sitem in SLeftDt %}
                    {% if Sitem.ParentPage == Fitem.PageTitel %}
                       <li class="nav-item"> <a class="nav-link" href="{{Sitem.PageUrl}}">{{Sitem.PageTitel}}</a></li>
                    {% endif %}
                {% endfor %}
                  </ul>
                </div>
              </li>
              {% else %}
                 <li class="nav-item">
                   <a class="nav-link" href="{{Fitem.PageUrl}}">
                     <i class="{{Fitem.PageIcon}} menu-icon"></i>
                     <span class="menu-title">{{Fitem.PageTitel}}</span>
                   </a>
                 </li>
              {% endif %}
      {% endfor %}
      </ul>
    </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
      {% block content%}
      <!-- content Body -->
      {% endblock %} 
      <!------------------------------------- Modal ------------------------------------------------->

      <!------------------------------------- Modal Upadte ------------------------------------------------->
<div class="modal fade" id="UpdateModal" tabindex="-1" aria-labelledby="UpdateModal" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <iframe  id="Update_Ifrem" class="UpdateIfrem" allowfullscreen="false" referrerpolicy="origin"></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" id="UpdateCloseBtn" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" id="UpdateSaveBtn" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
 <!------------------------------------- Modal Upadte End------------------------------------------------->

 <!------------------------------------- Modal Delete------------------------------------------------->
<div class="modal fade" id="DeleteModal" tabindex="-1" aria-labelledby="DeleteModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Modal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="delete_content">
          <h5>To confirm deletion, Enter <b style="color: red;">Delete</b> in the input field.</h5>
          <div class="delete_input_area">
               <input class="form-control" type="text" id="delete_input_field" value="" placeholder="Type hear..." />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="close_delete" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" id="confirm_delete" class="btn btn-danger" disabled>Delete</button>
      </div>
    </div>
  </div>
</div>
 <!------------------------------------- Modal Delete End ------------------------------------------------->
      </div>
    </div>
      <!-- main-panel ends -->
    </div>   
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  <script src="{{url_for('static', filename='home/js/jquery-3.6.1.min.js')}}"></script>
  <script src="{{url_for('static', filename='home/js/vendor.bundle.base.js')}}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="{{url_for('static', filename='home/chart.js/Chart.min.js')}}"></script>
  <script src="{{url_for('static', filename='home/datatables.net/jquery.dataTables.js')}}"></script>
 <script src="{{url_for('static', filename='home/datatables.net-bs4/dataTables.bootstrap4.js')}}"></script>
  <script src="{{url_for('static', filename='home/js/dataTables.select.min.js')}}"></script>

  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="{{url_for('static', filename='home/js/off-canvas.js')}}"></script>
  <script src="{{url_for('static', filename='home/js/hoverable-collapse.js')}}"></script>
  <script src="{{url_for('static', filename='home/js/template.js')}}"></script>
  <script src="{{url_for('static', filename='home/js/settings.js')}}"></script>
  <script src="{{url_for('static', filename='home/js/todolist.js')}}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{{url_for('static', filename='home/js/dashboard.js')}}"></script>
  <script src="{{url_for('static', filename='home/js/Chart.roundedBarCharts.js')}}"></script> 
  <script src="{{url_for('static', filename='home/js/custom.js')}}"></script> 
  <!-- End custom js for this page-->

  {% block Scripts %}
      
  {% endblock %} 

</body>

</html>

